*.manifest
*.exe
*.pdb
*.suo
.vs
/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/obj/x86/Release/TraktRater.Properties.Resources.resources
/obj/x86/Release/TraktRater.TraktRater.resources
/obj/x86/Release/TraktRater.UI.MaintenanceDialog.resources
/obj/x86/Release/TraktRater.csproj.FileListAbsolute.txt
/obj/x86/Release/TraktRater.csproj.GenerateResource.Cache
/obj/x86/Release/TraktRater.csprojResolveAssemblyReference.cache
/bin/Release/*.zip
obj
/app.config
/bin/Debug/CsvHelper.dll
/bin/Debug/CsvHelper.xml
/bin/Debug/TraktRater.exe.config
/bin/Debug/TraktRater.vshost.exe.config
/bin/Debug/merge.bat
/bin/Release/CsvHelper.dll
/bin/Release/CsvHelper.xml
/bin/Release/TraktRater.exe.config
/bin/Release/TraktRater.vshost.exe.config
/bin/Release/merge.bat
/packages/CsvHelper.2.16.3.0/CsvHelper.2.16.3.0.nupkg
/packages/CsvHelper.2.16.3.0/lib/net20/CsvHelper.dll
/packages/CsvHelper.2.16.3.0/lib/net20/CsvHelper.xml
/packages/CsvHelper.2.16.3.0/lib/net35/CsvHelper.dll
/packages/CsvHelper.2.16.3.0/lib/net35/CsvHelper.xml
/packages/CsvHelper.2.16.3.0/lib/net40/CsvHelper.dll
/packages/CsvHelper.2.16.3.0/lib/net40/CsvHelper.xml
/packages/CsvHelper.2.16.3.0/lib/net45/CsvHelper.dll
/packages/CsvHelper.2.16.3.0/lib/net45/CsvHelper.xml
/packages/CsvHelper.2.16.3.0/lib/netstandard1.3/CsvHelper.dll
/packages/CsvHelper.2.16.3.0/lib/netstandard1.3/CsvHelper.xml
/packages/CsvHelper.2.16.3.0/lib/portable40-net40+sl5+win8+wp8+wpa81/CsvHelper.dll
/packages/CsvHelper.2.16.3.0/lib/portable40-net40+sl5+win8+wp8+wpa81/CsvHelper.xml
/packages/CsvHelper.2.16.3.0/.signature.p7s
